<!DOCTYPE html>
<!-- Site design *heavily* based on the excellent design of http://suckless.org/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{TITLE}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{LOGO}}" />
    <link rel="stylesheet" type="text/css" href="{{STYLE}}">
    <meta charset="utf-8">
    <style>
    #menuitem{{MENUID}} { font-weight: bold; }
    </style>
</head>
<body>
    <div class="header">
        <a href="index.html"><img src="{{LOGO}}"></a>
        <a class="headerLink" href="index.html">mdlowis</a>
        <span class="headerSubtitle">{{SUBTITLE}}</span>
    </div>

    <div class="menu">
        {{MENUTEXT}}
    </div>

    <div class="content">
        <div class="nav">
            {{SECTION1}}
        </div>
        <div class="main">
            {{SECTION2}}
        </div>
    </div>

    <div class="footer">
        <span class="right">{{COPYRIGHT}}</span>
    </div>
</body><div></div></html>
