<!DOCTYPE html>
<!-- Site design *heavily* based on the excellent design of http://suckless.org/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simplicity is the ultimate sophistication</title>
    <link rel="shortcut icon" type="image/x-icon" href="/site/logo.png" />
    <link rel="stylesheet" type="text/css" href="/site/style.css">
    <meta charset="utf-8">
    <style>
    #menuitem<%= @menuid %> { font-weight: bold; }
    </style>
</head>
<body>
    <div class="header">
        <a href="index.html"><img src="/site/logo.png"></a>
        <a class="headerLink" href="index.html">mdlowis</a>
        <span class="headerSubtitle">Simplicity is the ultimate sophistication</span>
    </div>

    <div class="menu">
        <%= getmenu() %>
    </div>

    <div class="content">
        <div class="nav">
            <ul>
                <li><a href="" class="thisPage">link1</a></li>
                <li><a href="">link2</a></li>
                <li><a href="">link3</a></li>
            </ul>
        </div>

        <div class="main">
            <%= @contents %>
        </div>
    </div>

    <div class="footer">
        <span class="right">© 2017 Michael D. Lowis</span>
    </div>
</body><div></div></html>
